*:2015 {
    # Change root to /dist folder if running locally
    root /var/www/html

    # Add gzip compression if client supports it
    gzip

    # Ensure API calls are reaching the right service
    # 307 must be passed to preserve the same method and post data call
    # https://softwareengineering.stackexchange.com/a/99966
    redir 307 {
        /getok/api /api
    }

    rewrite /getok {
        r (.*)
        to {1}
    }

    # Use the following if you are running Caddy locally
    # proxy /api localhost:8080

    # Use the following for production deployments
    proxy /api {$HOST_ROUTE}

    log stdout

    errors stdout
}
