<table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="518"
  style="width:388.65pt; background:#003366; border-collapse:collapse">
  <tbody>
    <tr>
      <td width="424" colspan="4"
        style="width:155.05pt; border:none; border-bottom:solid #FCBA19 3.0pt; padding:10px 0 10px 10px">
        <p class="x_MsoNormal"><span
            style="font-size: 16pt; color: white; font-family: Calibri, sans-serif, serif, EmojiFont;">GetOK
            Permissions</span></p>
      </td>
      <td width="94" colspan="2"
        style="width:70.55pt; border:none; border-bottom:solid #FCBA19 3.0pt; padding:0cm 0cm 0cm 0cm">
        <p class="x_MsoNormal" align="center" style="text-align:center"><span
            style="font-size: 16pt; color: white; font-family: Calibri, sans-serif, serif, EmojiFont;">&nbsp;</span></p>
      </td>
    </tr>
    <tr style="height:13.6pt">
      <td width="47" valign="top"
        style="width:35.45pt; border:none; border-left:solid #D9D9D9 1.0pt; background:white; padding:0cm 5.4pt 0cm 5.4pt; height:13.6pt">
        <p class="x_MsoNormal"><span
            style="color: black; font-family: Calibri, sans-serif, serif, EmojiFont;">&nbsp;</span></p>
      </td>
      <td width="184" colspan="2" valign="top"
        style="width:138.25pt; background:white; padding:0cm 5.4pt 0cm 5.4pt; height:13.6pt">
        <p class="x_MsoNormal"><span
            style="font-size: 12pt; color: rgb(89, 89, 89); font-family: Calibri, sans-serif, serif, EmojiFont;">&nbsp;</span>
        </p>
        <p class="x_MsoNormal"><span
            style="font-size: 12pt; color: rgb(89, 89, 89); font-family: Calibri, sans-serif, serif, EmojiFont;">Application
            Acronym:</span></p>
      </td>
      <td width="232" colspan="2" valign="top"
        style="width:173.8pt; background:white; padding:0cm 5.4pt 0cm 5.4pt; height:13.6pt">
        <p class="x_MsoNormal"><b><span
              style="font-size: 12pt; color: rgb(89, 89, 89); font-family: Calibri, sans-serif, serif, EmojiFont;">&nbsp;</span></b>
        </p>
        <p class="x_MsoNormal"><b><span
              style="font-size: 12pt; color: rgb(89, 89, 89); font-family: Calibri, sans-serif, serif, EmojiFont;">{{
              acronym }}</span></b>
        </p>
      </td>
      <td width="55" valign="top"
        style="width:41.15pt; border:none; border-right:solid #D9D9D9 1.0pt; background:white; padding:0cm 5.4pt 0cm 5.4pt; height:13.6pt">
        <p class="x_MsoNormal"><span
            style="color: black; font-family: Calibri, sans-serif, serif, EmojiFont;">&nbsp;</span></p>
      </td>
    </tr>
    <tr style="height:13.6pt">
      <td width="47" valign="top"
        style="width:35.45pt; border:none; border-left:solid #D9D9D9 1.0pt; background:white; padding:0cm 5.4pt 0cm 5.4pt; height:13.6pt">
        <p class="x_MsoNormal"><span
            style="color: black; font-family: Calibri, sans-serif, serif, EmojiFont;">&nbsp;</span></p>
      </td>
      <td width="184" colspan="2" valign="top"
        style="width:138.25pt; background:white; padding:0cm 5.4pt 0cm 5.4pt; height:13.6pt">
        <p class="x_MsoNormal"><span
            style="font-size: 12pt; color: rgb(89, 89, 89); font-family: Calibri, sans-serif, serif, EmojiFont;">Requested
            by:</span></p>
      </td>
      <td width="232" colspan="2" valign="top"
        style="width:173.8pt; background:white; padding:0cm 5.4pt 0cm 5.4pt; height:13.6pt">
        <p class="x_MsoNormal"><b><span
              style="font-size: 12pt; color: rgb(89, 89, 89); font-family: Calibri, sans-serif, serif, EmojiFont;">{{
              idir }}</span></b>
        </p>
      </td>
      <td width="55" valign="top"
        style="width:41.15pt; border:none; border-right:solid #D9D9D9 1.0pt; background:white; padding:0cm 5.4pt 0cm 5.4pt; height:13.6pt">
        <p class="x_MsoNormal"><span
            style="color: black; font-family: Calibri, sans-serif, serif, EmojiFont;">&nbsp;</span></p>
      </td>
    </tr>
    <tr style="height:14.2pt">
      <td width="47" valign="top"
        style="width:35.45pt; border:none; border-left:solid #D9D9D9 1.0pt; background:white; padding:0cm 5.4pt 0cm 5.4pt; height:14.2pt">
        <p class="x_MsoNormal"><span
            style="color: black; font-family: Calibri, sans-serif, serif, EmojiFont;">&nbsp;</span></p>
      </td>
      <td width="184" colspan="2" valign="top"
        style="width:138.25pt; background:white; padding:0cm 5.4pt 0cm 5.4pt; height:14.2pt">
        <p class="x_MsoNormal"><span
            style="font-size: 12pt; color: rgb(89, 89, 89); font-family: Calibri, sans-serif, serif, EmojiFont;">Comments:</span>
        </p>
      </td>
      <td width="232" colspan="2" valign="top"
        style="width:173.8pt; background:white; padding:0cm 5.4pt 0cm 5.4pt; height:14.2pt">
        <p class="x_MsoNormal"><b><span
              style="font-size: 12pt; color: rgb(89, 89, 89); font-family: Calibri, sans-serif, serif, EmojiFont;">{{
              comments }}</span></b>
        </p>
      </td>
      <td width="55" valign="top"
        style="width:41.15pt; border:none; border-right:solid #D9D9D9 1.0pt; background:white; padding:0cm 5.4pt 0cm 5.4pt; height:14.2pt">
        <p class="x_MsoNormal"><span
            style="color: black; font-family: Calibri, sans-serif, serif, EmojiFont;">&nbsp;</span></p>
      </td>
    </tr>
    <tr style="height:13.6pt">
      <td width="47" valign="top"
        style="width:35.45pt; border:none; border-left:solid #D9D9D9 1.0pt; background:white; padding:0cm 5.4pt 0cm 5.4pt; height:13.6pt">
        <p class="x_MsoNormal"><span
            style="color: black; font-family: Calibri, sans-serif, serif, EmojiFont;">&nbsp;</span></p>
      </td>
      <td width="184" colspan="2" valign="top"
        style="width:138.25pt; background:white; padding:0cm 5.4pt 0cm 5.4pt; height:13.6pt">
        <p class="x_MsoNormal"><span
            style="font-size: 12pt; color: rgb(89, 89, 89); font-family: Calibri, sans-serif, serif, EmojiFont;">Status:</span>
        </p>
      </td>
      <td width="232" colspan="2" valign="top"
        style="width:173.8pt; background:white; padding:0cm 5.4pt 0cm 5.4pt; height:13.6pt">
        <p class="x_MsoNormal"><b><span
              style="font-size: 12pt; color: rgb(112, 173, 71); font-family: Calibri, sans-serif, serif, EmojiFont;">{{
              status }}</span></b></p>
      </td>
      <td width="55" valign="top"
        style="width:41.15pt; border:none; border-right:solid #D9D9D9 1.0pt; background:white; padding:0cm 5.4pt 0cm 5.4pt; height:13.6pt">
        <p class="x_MsoNormal"><span
            style="color: black; font-family: Calibri, sans-serif, serif, EmojiFont;">&nbsp;</span></p>
      </td>
    </tr>
    <tr style="height:30.65pt">
      <td width="47" valign="top"
        style="width:35.45pt; border:none; border-left:solid #D9D9D9 1.0pt; background:white; padding:0cm 5.4pt 0cm 5.4pt; height:30.65pt">
        <p class="x_MsoNormal"><span
            style="color: black; font-family: Calibri, sans-serif, serif, EmojiFont;">&nbsp;</span></p>
      </td>
      <td width="184" colspan="2" valign="top"
        style="width:138.25pt; background:white; padding:0cm 5.4pt 0cm 5.4pt; height:30.65pt">
        <p class="x_MsoNormal"><span
            style="font-size: 12pt; color: rgb(89, 89, 89); font-family: Calibri, sans-serif, serif, EmojiFont;">Next
            Step:</span></p>
      </td>
      <td width="232" colspan="2" valign="top"
        style="width:173.8pt; background:white; padding:0cm 5.4pt 0cm 5.4pt; height:30.65pt">
        <p class="x_MsoNormal"><b><span
              style="font-size: 12pt; color: rgb(89, 89, 89); font-family: Calibri, sans-serif, serif, EmojiFont;">{{ nextSteps }}</span></b></p>
        <p class="x_MsoNormal"><b><span
              style="font-size: 12pt; color: rgb(89, 89, 89); font-family: Calibri, sans-serif, serif, EmojiFont;">&nbsp;</span></b>
        </p>
      </td>
      <td width="55" valign="top"
        style="width:41.15pt; border:none; border-right:solid #D9D9D9 1.0pt; background:white; padding:0cm 5.4pt 0cm 5.4pt; height:30.65pt">
        <p class="x_MsoNormal"><span
            style="color: black; font-family: Calibri, sans-serif, serif, EmojiFont;">&nbsp;</span></p>
      </td>
    </tr>
    <tr style="height:56.9pt">
      <td width="47" valign="top"
        style="width:35.45pt; border:none; border-left:solid #D9D9D9 1.0pt; background:white; padding:0cm 5.4pt 0cm 5.4pt; height:56.9pt">
        <p class="x_MsoNormal"><span
            style="color: black; font-family: Calibri, sans-serif, serif, EmojiFont;">&nbsp;</span></p>
      </td>
      <td width="416" colspan="4" valign="top"
        style="width:312.05pt; background:white; padding:0cm 5.4pt 0cm 5.4pt; height:56.9pt">
        <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
          <tbody>
            <tr style="height:22.65pt">
              <td width="121" valign="top" style="width:90.95pt; padding:0cm 5.4pt 0cm 5.4pt; height:22.65pt">
                <p class="x_MsoNormal">&nbsp;</p>
              </td>
              <td width="165" style="width:123.4pt; background:#003366; padding:0cm 5.4pt 0cm 5.4pt; height:22.65pt">
                <p class="x_MsoNormal" align="center" style="text-align:center"><span
                    style="color: white; font-family: Calibri, sans-serif, serif, EmojiFont;"><a
                      href="https://getok.nrs.gov.bc.ca/myApps" target="_blank" rel="noopener noreferrer"><span
                        style="font-size:14.0pt; color:white">Go to GetOK</span></a></span></p>
              </td>
              <td width="100" valign="top" style="width:75.35pt; padding:0cm 5.4pt 0cm 5.4pt; height:22.65pt">
                <p class="x_MsoNormal">&nbsp;</p>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td width="55" valign="top"
        style="width:41.15pt; border:none; border-right:solid #D9D9D9 1.0pt; background:white; padding:0cm 5.4pt 0cm 5.4pt; height:56.9pt">
        <p class="x_MsoNormal"><span
            style="color: black; font-family: Calibri, sans-serif, serif, EmojiFont;">&nbsp;</span></p>
      </td>
    </tr>
    <tr style="height:22.3pt">
      <td width="518" colspan="6"
        style="width:388.65pt; border:none; border-top:solid #FCBA19 3.0pt; padding:0cm 5.4pt 0cm 5.4pt; height:22.3pt">
        <p class="x_MsoNormal" align="right" style="text-align:right"><span
            style="color: white; font-family: Calibri, sans-serif, serif, EmojiFont;"><a
              href="https://bcgov.github.io/common-service-showcase/" target="_blank" rel="noopener noreferrer"
              title="Visit the Common Service Showcase website"><span style="color:white">Common Service
                Showcase</span></a></span></p>
      </td>
    </tr>
    <tr>
      <td width="59" style="width:44.25pt; padding:0cm 0cm 0cm 0cm"></td>
      <td width="213" style="width:159.75pt; padding:0cm 0cm 0cm 0cm"></td>
      <td width="18" style="width:13.5pt; padding:0cm 0cm 0cm 0cm"></td>
      <td width="241" style="width:180.75pt; padding:0cm 0cm 0cm 0cm"></td>
      <td width="49" style="width:36.75pt; padding:0cm 0cm 0cm 0cm"></td>
      <td width="69" style="width:51.75pt; padding:0cm 0cm 0cm 0cm"></td>
    </tr>
  </tbody>
</table>
