/* Typography */
.v-application {
  font-family: -apple-system, BlinkMacSystemFont, BCSans, Roboto, Verdana, Arial, sans-serif !important;
  line-height: 1.5;
}

h1 { font-size: 2.074em; /* (37.32px) */ }
h2 { font-size: 1.728em; /* (31.10px) */ }
h3 { font-size: 1.444em; /* (25.92px) */ }
h4 { font-size: 1.2em; /* (21.60px) */ }

h1, h2, h3, h4, h5 {
  line-height: 1.2;
}

p {
  line-height: 1.6;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    button {
      display: inline-block;
      text-decoration: none;
    }
  }
}


/* sticky footer */
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
body > .v-content {
  flex: 1 0 auto;
}

.BC-Gov-PrimaryButton.v-btn {
  background-color: #003366;
  border: none;
  border-radius: 4px;
  color: white !important;
  padding: 12px 32px !important;
  text-align: center;
  text-decoration: none;
}

.v-btn.v-btn--disabled {
  background-color: #eee;
  color: #777;
}

.BC-Gov-PrimaryButton:hover,
.v-btn:hover {
  opacity: 0.8;
}

.BC-Gov-PrimaryButton.light.v-btn {
  background-color: #fff;
  border: 2px solid #003366;
  color: #003366 !important;
}

.BC-Gov-IconButton.v-btn {
  color: #003366 !important;
  text-decoration: none;
}
