.BC-Gov-PrimaryButton.v-btn {
    background-color: #003366;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 12px 32px !important;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.BC-Gov-PrimaryButton:hover, .v-btn:hover {
  text-decoration: underline;
  opacity: 0.80;
}
